h1 {
    color: gray;
}

h2 {
    color: grey;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    /* min-height: 100vh; */
    padding-top: 32px;
    padding-bottom: 32px;
}
